@import 'variables.scss';
@import 'mixins.scss';

.about {
  // .about__wrapper

  &__wrapper {
    background-color: hsl(0, 0%, 94%);
  }

  // .about__section

  &__section {
    padding-top: 30px;
    padding-bottom: 40px;
    @include adaptiv-value('font-size', 18, 14, 1);
    line-height: 24px;
    text-align: center;
    letter-spacing: 1.5%;
    font-weight: 300;
    strong {
      font-weight: 500;
    }
  }

  // .about__title

  &__title-wrapper {
    background: $orangeColor;
    max-width: 769px;
    margin: 0 auto;
    min-height: 70px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 40px;
  }

  &__title {
    @include adaptiv-value('font-size', 24, 18, 1);
    line-height: 120%;
    font-weight: 700;

    color: $textColorWhite;
    padding-left: 20px;
    padding-right: 20px;
  }

  // .about__text-first

  &__text-first {
    margin-bottom: 30px;
  }

  // .about__text-second

  &__text-second {
  }
}
