@use 'null';
@use 'icons';
@use 'ui';
@use 'mixins';
@use 'header';
@use 'swiper';
@use 'benefits';
@use 'catalog';
@use 'projects';
@use 'new-items';
@use 'about';
@use 'second-catalog';
@use 'contacts';
@import 'variables';

.container {
  max-width: 1132px;
  margin: 0 auto;
  @media (max-width: $md1+px) {
    //  background-color: red;
    max-width: 970px;
  }
  @media (max-width: $md2+px) {
    //  background-color: yellow;
    max-width: 750px;
  }
  @media (max-width: $md3+px) {
    // background-color: green;
    max-width: none;
    padding-right: 10px;
    padding-left: 10px;
  }
}
