@import 'variables.scss';
@import 'mixins.scss';
@import 'ui.scss';

.main {
  // .main__projects

  &__projects {
  }
}
.main-projects__wrapper {
  background-color: #e5e5e5;
  @include adaptiv-value('padding-top', 36, 30, 1);
  padding-bottom: 38px;
}
.projects {
  // .projects__title-block

  &__title-block {
    @include adaptiv-value('margin-bottom', 55, 21, 1);
    @extend %title__block;
  }

  // .projects__title-top

  &__title-top {
    @extend %title__top;
    @include adaptiv-value('margin-bottom', 33, 18, 1);
  }

  // .projects__title

  &__title {
    @include adaptiv-value('font-size', 24, 18, 1);
    line-height: 120%;
    font-weight: bold;
    margin-left: 23px;
    @media (min-width: $md4+px) {
      br {
        display: none;
      }
    }
  }

  // .projects__title-bottom

  &__title-bottom {
    @extend %title__bottom;
    @include adaptiv-value('margin-top', 33, 18, 1);
  }

  // .projects__links

  &__links {
  }

  // .projects__swiper

  &__swiper {
    max-height: 249px;
    margin-bottom: 40px;
  }

  // .projects__slide

  &__slide {
    width: 411px;
    height: 249px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  // .projects__slide-title

  &__slide-title {
    @include adaptiv-value('font-size', 18, 15, 1);
    line-height: 120%;
    font-weight: bold;
    color: $textColorWhite;
    text-align: center;
  }

  // .projects__slide-link

  &__slide-link {
    display: inline-flex;
    @include adaptiv-value('font-size', 18, 15, 1);
    line-height: 120%;
    color: $mainColor;
    background-color: $textColorWhite;
    min-height: 50px;
    padding-left: 15 / 18 * 1em;
    padding-right: 15 / 18 * 1em;
    border-radius: 22px;
    align-items: center;
  }

  // .projects__slide-img

  &__slide-img {
    z-index: -1;
  }
}
.links {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-bottom: 11px;
  // .links__clubs

  &__clubs {
    @extend %projects__button;
  }

  // .links__halls

  &__halls {
    @extend %projects__button;
  }

  // .links__centrs

  &__centrs {
    @extend %projects__button;
  }
}
.swiper {
}
.swiper-wrapper {
}
.swiper-slide {
}

.project__swiper-controls {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
  @media (max-width: $md3+px) {
    justify-content: space-between;
  }
}

.projects__swiper-dots {
  .swiper-pagination-bullet {
    position: relative;

    width: 8px;
    height: 8px;
    background-color: $mainColor;
    margin-right: 18px;
    &::after {
      content: '';
      position: absolute;
      top: -6px;
      left: -6px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: solid 1px transparent;
      transition: border 0.3s ease 0s;
    }
  }
  .swiper-pagination-bullet-active {
    &::after {
      transition: border 0.3s ease 0s;
      border: solid 1px $mainColor;
    }
  }
}

.projects__swiper-arrows {
  position: relative;
  display: flex;
  align-items: center;
  margin-right: 50px;
}

.swiper-button-prev {
  position: relative;
  order: -1;
  margin-right: 30px;
  &:after {
    font-size: 25px;
    color: $mainColor;
  }
}
.swiper-button-next {
  position: relative;
  &:after {
    font-size: 25px;
    color: $mainColor;
  }
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100px;
  justify-content: space-between;
}
