@import 'variables.scss';
@import 'mixins.scss';
@import 'ui.scss';

.main-second-catalog {
}
.second-catalog {
  @include adaptiv-value('padding-top', 100, 49, 1);
  @include adaptiv-value('padding-bottom', 100, 49, 1);
  // .second-catalog__title-block

  &__title-block {
    @extend %title__block;
    margin-bottom: 50px;
  }

  // .second-catalog__top

  &__top {
    @extend %title__top;
    @include adaptiv-value('margin-bottom', 33, 18, 1);
  }

  // .second-catalog__title

  &__title {
    @include adaptiv-value('font-size', 24, 18, 1);
    line-height: 120%;
    font-weight: bold;
    margin-left: 23px;
  }

  // .second-catalog__bottom

  &__bottom {
    @extend %title__bottom;
    @include adaptiv-value('margin-top', 33, 18, 1);
  }

  // .second-catalog__list

  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 262px);
    justify-content: center;
    grid-gap: 20px;
  }

  // .second-catalog__list-item

  &__list-item {
    cursor: pointer;
    height: 333px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;
    border-radius: 10px;
    background: rgb(255, 255, 255);
    background: linear-gradient(202deg, rgba(255, 255, 255, 1) 67%, rgba(255, 158, 0, 1) 50%);
    box-shadow: 0px 2.99429px 18.7143px rgb(0 0 0 / 13%);
    transition: 0.2s;
    &::after {
      position: absolute;
      content: 'PDF (5MB)';
      font-size: 8px;
      line-height: 10px;
      font-weight: 700;
      right: 0;
      top: 60px;
      background-color: $orangeColor;
      padding: 9px 7px;
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
      color: $textColorWhite;
    }
    @media (any-hover: hover) {
      &:hover {
        background: $orangeColor;
        align-items: center;

        .second-catalog__item-img {
          display: none;
        }
        .second-catalog__item-img-hover {
          display: block;
          position: absolute;
          top: 60px;
        }
        .second-catalog__list-item-text {
          color: white;
          font-size: 24px;
          margin-left: 0;
          padding-bottom: 20px;
          max-width: 210px;
          padding-left: 26px;
          padding-right: 26px;
        }
        .second-catalog__link {
          display: block;
          align-self: flex-start;
          margin-left: 25px;
          &::before {
            color: $textColorWhite;
            line-height: 0.1;
            font-size: 97px;
          }
        }
        &:after {
          background-color: $textColorWhite;
          color: $orangeColor;
        }
      }
    }
  }

  // .second-catalog__list-item-text

  &__list-item-text {
    @include adaptiv-value('font-size', 18, 14, 1);
    text-transform: uppercase;
    line-height: 120%;
    font-weight: 700;
    z-index: 1;
    color: $orangeColor;
    max-width: 182px;
    align-self: flex-start;
    margin-left: 20px;
  }

  // .second-catalog__link

  &__link {
    display: none;
  }

  // .second-catalog__item-img

  &__item-img {
    object-fit: none;
    position: relative;
    bottom: -40px;
  }

  // .second-catalog__item-img-hover

  &__item-img-hover {
    display: none;
  }
}
.container {
}
.second-catalog-list {
  // .second-catalog-list__first-item

  &__first-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0px 2.99429px 18.7143px rgb(0 0 0 / 13%);
  }
}
.second-catalog-first-item {
  // .second-catalog-first-item__text

  &__text {
    border-left: 5px solid $orangeColor;
    padding-left: 18px;
    @include adaptiv-value('font-size', 18, 14, 1);
    @include adaptiv-value('line-height', 28, 18, 1);
  }
}
