@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&family=Montserrat:wght@400;500;600;700;800&family=Mulish:wght@400;700&family=Russo+One&display=swap');

$minWidth: 320;
$maxWidth: 1920;
$maxWidthContainer: 1122;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$fontSize: 16;

$fontFamily: 'Montserrat', sans-serif;
$fontInter: 'Inter', sans-serif;
$fontMulish: 'Mulish', sans-serif;
$fontRusso: 'Russo One', sans-serif;

$mainColor: hsl(0, 0%, 0%);
$orangeColor: hsl(39, 100%, 50%);
$textColorWhite: #ffff;
$titleColorDarkBlue: #152536;
$titleSecondaryGrey: #6c757d;
